.semantic {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  height: 100%;
  font-size: 14px;
  @import "../../assets/scss/semantic/semantic.scss";
  .ui.three.buttons > .button {
    width: 20%;
  }
  .ui.buttons .button, .ui.buttons .or, .ui.button, .ui.menu {
    font-size: 14px;
  }
  .ui.circular.labels .label, .ui.circular.labels .picnic [data-tooltip]:after, .picnic .ui.circular.labels [data-tooltip]:after, .ui.circular.label, .picnic .ui.circular[data-tooltip]:after, .picnic .ui.circular[data-tooltip]:after {
    min-width: 1em;
    min-height: 1em;
  }
  .ui.selection.dropdown {
    min-width: 6em;
    min-height: unset;
  }
  .ui.selection.dropdown .menu {
    width: 100%;
    min-width: 100%;
  }
  .ui.menu {
    min-height: unset;
  }
  .ui.compact.menu {
    vertical-align: unset;
  }
  .ui.menu .item {
    padding: 0.75857143em 1.14285714em;
  }
  .pagination a {
    display: block !important;
  }
  .ui.pagination.menu .active.item {
    padding-top: 0.75857143em;
  }
}
@import "../../assets/scss/semantic/semantic-alert-icon.scss";
@import "../../assets/scss/semantic/semantic-accordion-icon.scss";
@import "../../assets/scss/semantic/semantic-checkbox-icon.scss";
@import "../../assets/scss/semantic/semantic-dropdown-icon.scss";
@import "../../assets/scss/semantic/semantic-modal.scss";